{% extends "core/base.html" %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="container mt-5">
    <h2>Agregar Venta</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Venta</button>
    </form>
</div>

{% endblock %}
