{% extends "core/base_intranet.html" %}
        {% block content %}

        <div class="container mt-5">
            <h2>Mantenedor de Herramientas</h2>
            <a href="{% url 'agregar_bicicleta' %}" class="btn btn-success mb-3">Agregar Herramienta</a>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Aro</th>
                        <th>Color</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bicicleta in bicicletas %}
                    <tr>
                        <td>{{ bicicleta.marca }}</td>
                        <td>{{ bicicleta.modelo }}</td>
                        <td>{{ bicicleta.aro }}</td>
                        <td>{{ bicicleta.color }}</td>
                        <td>
                            {% if bicicleta.imagen %}
                                <img src="{{ bicicleta.imagen.url }}" alt="{{ bicicleta.marca }} {{ bicicleta.modelo }}" width="50">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'detalle_bicicleta' bicicleta.pk %}" class="btn btn-info btn-sm">Ver</a>
                            <a href="{% url 'actualizar_bicicleta' bicicleta.pk %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'eliminar_bicicleta' bicicleta.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
