{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos completados</title>
</head>
<body>
    <h1>Payment realizados para el Producto: {{ producto.name }}</h1>
    <div class="productos-container">
        <div>
            <img src="{{producto.imagen}}" alt="{{producto.name}}" class="img">
            <p>{{producto.name}}</p>
            <p>Precio: ${{producto.precio}}</p>
            <p>Descripcion: {{producto.descripcion}}</p>
            {{paypal.render}}
        </div>
    </div>
</body>
</html>